@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body
{
	padding: 0;
	margin: 0;
	background-image: url("images/main_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

h1.section_title
{
	color: #636363;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	margin-top: 0px;
	padding-top: 16px;
}

div.header
{
	position: relative;
	background-color: #70ad47;
	width: inherit;
	max-width: inherit;
	top: 0;	
	height: 500px;
}

div.header div.header_text
{
	position: absolute;
	bottom: 0;
	width: inherit;
	max-width: inherit;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 64px;
	color: #FFFFFF;
	font-weight: 400;
	text-shadow: 1px 1px 2px black, 0 0 25px #70ad47, 0 0 5px darkgreen;
}

div.header.development
{
	background-image: url("images/development_title.png");
	background-repeat: no-repeat;
	background-position: 0px -25px;
	background-size: 1500px 555px;
}

div.header.home
{
	background-image: url("images/arf.png");
	background-repeat: no-repeat;
	opacity: 0.9;
	background-position: 50% -150px;
	background-attachment: fixed;
	background-size: 1500px 999.4px;
}

div.header div.header_tint_box
{
	position: absolute;
	background-color: black;
	opacity: 0.7;
	width: 1500px;
	height: 500px;
}

div.header.about
{
	background-image: url("images/wiring.png");
	background-repeat: no-repeat;
	background-color: #636363;
	background-position: 550px -410px;
	background-size: 952px 714px;
	height: 300px;
}

div.header div.header_about_box
{
	position: absolute;
	background-color: #3b3b3b;
	top: 42%;
	left: 170px;
	width: 470px;
	height: 125px;
	line-height: 125px;
}

div.sub_section
{
	position: relative;
	width: inherit;
	max-width: inherit;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 690px -150px;
}

div.inner_section
{
	position: relative;
	width: inherit;
	max-width: 1000px;
	min-width: 1000px;
	margin: auto;
	padding: 0px 50px;
}

div.specifications
{
	position: relative;
	padding-left: 50px;
	width: 375px;
	float: left;
}

span.home
{
	position: absolute;
	width: inherit;
	max-width: inherit;
	min-width: 650px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: 700;
	padding-top: 140px;
}

span.about
{
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.1;
	padding-left: 10px;
}

p.main_format
{
	color: #636363;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
	font-size: 16px;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 0px;
}

#content
{
	left: 0;
	right: 0;
	width: 100%;
	max-width: 1500px;
	margin: auto;
}

#unr_logo
{
	display: block;
	opacity: 0.8;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 230px;
}

#about .myul
{
	color: black;
	font-size: 12px;
}

#clear
{
	clear: both;
}
