@import url('https://fonts.googleapis.com/css?family=Roboto');

/* The navigation bar */
.navbar 
{
    overflow: hidden;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    max-width: 1500px;
    min-width: 650px;
    z-index: 900;
}

/* Links inside the navbar */
.navbar a 
{
    float: right;
    display: block;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    padding: 28px 20px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover 
{
    background: #ddd;
    color: black;
}

/*SkyWarden logo*/
.navbar a.img
{
    float: left;
    padding-top: 0px;
	padding-bottom: 0px;
    padding-left: 0px;
}

.navbar a.img:hover
{
	background: initial;
	color: inital;
}

.navbar img
{
    float: left;
    width: 262px;
    height: 62px;
    padding-top: 12px;
    padding-left: 15px;
}