p
{
	color: black;
	font-size: 10px;
}

#about .myP
{
	color: black;
	font-size: 10px;
}

#about .myh1
{
	color: #B7BBB7;
	font-size: 20px;
}

header 
{
    background-color: #78C755;
    padding: 100px;
    text-align: center;
	font-weight: 800;
    font-size: 50px;
    font-family: Helvetica;
    color: white;
}

#about .myul
{
	color: black;
	font-size: 12px;
}