p
{
	color: black;
	font-size: 10px;
}

#about .myP
{
	color: red;
	font-size: 30px;
}

header 
{
    background-color: #78C755;
    padding: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
}
